{% extends 'ControlDeVeterinaria/base.html' %}
{% load static %}
{% block content %}

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Enero</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Febrero</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Marzo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Abril</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mayo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Junio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Julio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Agosto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Septiembre</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Octubre</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Noviembre</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Diciembre</a>
  </li>
</ul>

{% endblock %}