{% extends 'ControlDeVeterinaria/base.html' %}
{% load static %}
{% block content %}

<h1> Comprador </h1>
<br>
<form action="" method="post" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
	<div class="row">
		<div class="col-sm-3">
			<label>Nombre: </label>
			{{ form.nombre }}
		</div>
		<div class="col-sm-3">
			<label>RFC: </label>
			{{ form.rfc }}
		</div>
		<div class="col-sm-3">
			<label>Domicilio: </label>
			{{ form.domicilio }}
		</div>
		<div class="col-sm-3">
			<label>Codigo Postal: </label>
			{{ form.cp }}
		</div>
		<div class="col-sm-3">
			<label>Poblacion: </label>
			{{ form.poblacion }}
		</div>
		<div class="col-sm-3">
			<label>Telefono: </label>
			{{ form.telefono }}
		</div>
		<div class="col-sm-3">
			<label>Correo: </label>
			{{ form.correo }}
		</div>
		<div class="col-sm-3">
			<button class="btn btn-primary" type="submit"> Guardar </button>
		</div>
	</div>
	<hr>
	<div class="row col-sm-12">
		<table id="dvData" class="table table-striped" >
			<thead>
				<tr>
					<th >
						<strong>Nombre</strong>
					</th>
					<th >
						<strong>RFC</strong>
					</th>
					<th >
						<strong>Codigo Postal</strong>
					</th>
					<th >
						<strong>Ver</strong>
					</th>
					<th >
						<strong>Eliminar</strong>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for datos in listaComprador %}
					<tr>
						<td >{{ datos.nombre }}</td>
						<td >{{ datos.rfc }}</td>
						<td >{{ datos.cp }}</td>
						<td >
							<a href="{% url 'ver-comprador' datos.id %}" class="btn btn-default btn-danger"><i class="glyphicon glyphicon-floppy-remove"></i></a>
						</td>
						<td >
							<a href="{% url 'borrar-comprador' datos.id %}" class="btn btn-default btn-danger"><i class="glyphicon glyphicon-floppy-remove"></i></a>
						</td>
					</tr>	
				{% endfor %}
			</tbody>
		</table>
	</div>		
</form>
{% endblock %}