{% extends 'ControlDeVeterinaria/base.html' %}
{% load static %}
{% block content %}

<h1> Proveedor {{ datosProveedor.nombre }} </h1>
<br>
<h3> RFC: <i style="color: blue"> {{datosProveedor.rfc }} </i></h3>
<br>
<h3> Domicilio: <i style="color: blue"> {{datosProveedor.domicilio }} </i></h3>
<br>
<h3> Codigo Postal: <i style="color: blue"> {{datosProveedor.cp }} </i></h3>
<br>
<h3> Poblacion: <i style="color: blue"> {{datosProveedor.poblacion }} </i></h3>
<br>
<h3> Telefono: <i style="color: blue"> {{datosProveedor.telefono }} </i></h3>
<br>
<h3> Correo: <i style="color: blue"> {{datosProveedor.correo }} </i></h3>
<br>
<h3><a href="{% url 'proveedor' %}"> Volver </a></h3>


{% endblock %}